.searchresults {
  margin-top: 10px;
}
.mb20 {
  margin-bottom: 20px;
}
hgroup {
  padding-left: 15px;
  border-bottom: 1px solid #ccc;
}
hgroup h1 {
  font: 500 normal 1.625em "Roboto", Arial, Verdana, sans-serif;
  color: #2a3644;
  margin-top: 0;
  line-height: 1.15;
}
hgroup h2.lead {
  font: normal normal 1.125em "Roboto", Arial, Verdana, sans-serif;
  color: #2a3644;
  margin: 0;
  padding-bottom: 10px;
}
.search-result .thumbnail {
  border-radius: 0 !important;
}
.search-result:first-child {
  margin-top: 0 !important;
}
.search-result {
  margin-top: 20px;
  margin-bottom: 10px;
}
.search-result ul {
  padding-left: 0 !important;
  list-style: none;
}
.search-result ul li {
  line-height: 30px;
}
.search-result ul li i {
  padding-right: 5px;
}
.search-result .col-md-10 {
  position: relative;
  border-right: 1px solid #ccc;
}
.search-result h3 {
  margin-top: 0 !important;
  margin-bottom: 10px !important;
}
.search-result h3 > a,
.search-result i {
  color: #428bca !important;
}
.search-result span.border {
  display: block;
  width: 97%;
  margin: 0 15px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
}
.highlightedText {
  background: yellow;
}
